{% extends "encyclopedia/layout.html" %}


{% block title %}
Encyclopedia | Edit | {{ title }}
{% endblock title %}

{% block body %}

<h1 class="text-center">Edit Page</h1>

<form class="m-5" action="{{ title }}" method="post">
    {% csrf_token %}
    
    <div class="d-flex justify-content-between">
        <input type="text" name="title" value="{{ title }}">
    <input type="submit" value="Save">
    </div>
    
    <textarea style="height: 400px; overflow: auto; resize: none;"  name="content" id="" placeholder="Put The Content here" style="height: 100px; margin: 5px;">{{ content.strip }}</textarea>
    
</form>

{% endblock body %}