{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia| Create_New_Page
{% endblock title %}

{% block body %}

    <div class="c-container">
            {% if message %}
        <div class="alert text-center alert-danger">{{ message }}</div>
    {% endif %}

    <h1 class="text-center">What topic would you like to discuss today?</h1>

    <form class="m-5" action="{% url 'newpage' %}" method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-between">
                <div class=" ">
                    <input type="text" placeholder="Title" name="title" autofocus>  
                </div>
               <input  type="submit" value="Save">
            </div>
            <textarea style="height: 400px; overflow: auto; resize: none;"  name="content" id="" placeholder="Put The Content here" style="height: 100px; margin: 5px;"></textarea>
            
    </form>

    </div>
    

{% endblock %}
